<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header'); -%>

    <body>
        <!-- Navigation-->
        <%- include('layouts/navbar'); -%>

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('https://items.gog.com/news/CT_Editorial_1.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Về bản thân</h1>
                            <span class="subheading">Mình là người đơn giản, thi thoảng thích phức tạp :></span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Nguyễn Mạnh Hưởng là tên đầy đủ của mình. Mình là người đơn giản, không thích sự phức tạp vì nó khiến mình mệt mỏi, nhưng đôi lúc mình lại thích phức tạp hóa sự đơn giản vì khiến mình thấy hứng thú :v</p>
                        <p>Mình thích mèo, dưa hấu và cà phê. mình thích đọc truyện romcom nên vẫn alone, nhưng 1 mình cũng chút cái hay của nó. Mình thích hát mặc dù hát rất tệ, mặt khác dòng nhạc mà mình hát cũng kén người nghe, nói chung mình nghe được nhiều thể loại nhưng lại không nghe nhiều nhạc trẻ hiện nay lắm, nên có thể nói mình hơi lạc hậu, nhưng điều đó cũng không có nghĩa là mình thích nhạc vàng nhé. Khi nào có cơ hội chúng ta chia sẻ những ca khúc yêu thích cho nhau được không ?</p>
                        <p>Mình hạnh phúc khi được làm điều mình yêu thích, và sẽ càng hạnh phúc hơn nếu điều đó làm mọi người hạnh phúc. Mình hạnh phúc khi người khác hạnh phúc.</p>
                        <p>Đây là blog đầu tay của mình, vì vậy nó khá sơ sài, còn nhiều tính năng mình muốn hoàn thiện nhưng hiện tại chưa thể, xin lỗi nhé. Mình chỉ là 1 chú mèo nhỏ trong thế giới vô vàn kiến thức vĩ đại và những con người vĩ đại ngoài kia. Trang web này là một món đồ nhỏ mà mình đã tạo ra, nơi mình thư giãn và nghỉ ngơi, suy nghĩ và ghi chép, vui vui và tận hưởng. Nếu bạn tình cờ ghé qua đây, xin hãy để lại 1 điều gì đó nhé, chúng ta có thể tâm sự. Hi vọng đến đây mình không làm mất quá nhiều thời gian quý giá của bạn ❤</p>
                        
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
        <%- include('layouts/footer'); -%>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
